DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=booking

HOTEL_SERVICE_HOST=http://localhost
HOTEL_SERVICE_PORT=8082
HOTEL_SERVICE_TIMEOUT=5s

SERVER_PORT=:8080
LOG_LEVEL=debug
SERVER_HOST=http://localhost

PAYMENT_SERVICE_HOST=http://localhost
PAYMENT_SERVICE_PORT=8081
PAYMENT_SERVICE_TIMEOUT=5s

KAFKA_HOST=localhost:9092
KAFKA_TOPIC=bookings
