HOST="0.0.0.0"
PORT=8080

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=""
REDIS_PASSWORD=""

LINK_PREFIX="http://localhost:8000/v1/payment/page"
ROUTER_PREFIX="/v1/payment"
PAYMENT_TIMEOUT=1
STORAGE_TIMEOUT=20
